@layer reset {
  /* https://website-from-scratch-1.netlify.app/lessons/setting-the-stage/resetting-our-css */

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    letter-spacing: 0.03125rem;
  }

  button {
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    /* https://moderncss-test.vercel.app/css-button-styling-guide/ */
    @media screen and (-ms-high-contrast: active) {
      border: 2px solid;
    }
  }
}

@layer base {
  :root {
    /* Design token primitives */

    --grey-100: hsl(0 0% 98%);
    --grey-200: hsl(0 0% 96%);
    --grey-300: hsl(0 0% 93%);
    --grey-400: hsl(0 0% 88%);
    --grey-500: hsl(0 0% 74%);
    --grey-600: hsl(0 0% 62%);
    --grey-700: hsl(0 0% 46%);
    --grey-800: hsl(0 0% 38%);
    --grey-900: hsl(0 0% 26%);
    --grey-950: hsl(0 0% 13%);

    --blue-grey-50: hsl(204 15% 98%);
    --blue-grey-100: hsl(204, 16%, 94%);
    --blue-grey-200: hsl(198 16% 84%);
    --blue-grey-300: hsl(200 15% 73%);
    --blue-grey-400: hsl(200 16% 62%);
    --blue-grey-500: hsl(200 15% 54%);
    --blue-grey-600: hsl(200 18% 46%);
    --blue-grey-700: hsl(199 18% 40%);
    --blue-grey-800: hsl(199 18% 33%);
    --blue-grey-900: hsl(200 18% 26%);
    --blue-grey-950: hsl(200 19% 18%);

    --green-100: hsl(125 39% 94%);
    --green-200: hsl(122 38% 84%);
    --green-300: hsl(122 37% 74%);
    --green-400: hsl(123 38% 64%);
    --green-500: hsl(123 38% 57%);
    --green-600: hsl(122 39% 49%);
    --green-700: hsl(123 41% 45%);
    --green-800: hsl(123 43% 39%);
    --green-900: hsl(123 46% 34%);
    --green-950: hsl(124 55% 24%);
  }

  :root {
    /* Semantics */

    --font-family-body: Palatino, Georgia, "Times New Roman", serif;
    --font-family-header: "Century Gothic", CenturyGothic, AppleGothic,
      sans-serif;
    --font-family-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;

    --font-size-sm: 0.875rem;
    --font-size-md: 1.25rem;
    --font-size-heading-lg: 3.75rem;

    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 0.75rem;

    --padding-md: 1rem;

    --gap-md: 1rem;
    --gap-large: 2rem;

    --equal-columns-gap: 1rem;

    /* @media (prefers-color-scheme: light) { */

    --color-background: var(--blue-grey-100);
    --color-foreground: var(--blue-grey-900);
    --color-accent: var(--blue-grey-800);
    --color-accent-bright: var(--blue-grey-700);
    --color-flash: var(--blue-grey-500);

    --color-shadow: hsla(200 18% 26% / 0.2);

    --color-ui-background: var(--blue-grey-50);

    --shadow-regular: 1px 3px 10px var(--color-shadow);

    /* } */
  }

  /* html is :root so doing this on html instead of body makes things behave more predictably */
  html {
    font-family: var(--font-family-body);
    line-height: 1.6;
    scroll-padding: 3rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  body {
    /* set font size here instead of html so rem units stay consistent */
    font-size: var(--font-size-md);
    color: var(--color-foreground);
    background-color: var(--color-background);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-family-heading);
    font-weight: 700;
  }

  h1 {
    font-size: var(--font-size-heading-lg);
  }

  a {
    color: var(--color-accent);

    &:hover,
    &:focus-visible {
      color: var(--color-accent-bright);
    }

    &:active {
      color: var(--color-flash);
    }
  }

  img {
    border-radius: var(--border-radius-lg);
  }

  label,
  input,
  select,
  button,
  option {
    font-family: var(--font-family-ui);
  }
}

@layer layout {
  .section {
    --section-padding: 3rem;
    padding-block: var(--section-padding);

    &[data-padding="compact"] {
      --section-padding: 2rem;
    }
  }

  .wrapper {
    --wrapper-max-width: 48rem;
    --wrapper-inline-padding: 1rem;

    margin-inline: auto;
    max-width: calc(
      var(--wrapper-max-width) + var(--wrapper-inline-padding) * 2
    );
    min-width: 344px;
    padding-inline: var(--wrapper-inline-padding);
  }

  .text-flow > :where(:not(:first-child)) {
    margin-top: var(--flow-spacer, 1em);
  }
}

@layer components {
  .floating-panel {
    background-color: var(--color-ui-background);
    padding: var(--padding-md);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-regular);
  }

  .button {
    --button-back-color: var(--blue-grey-800);
    --button-fore-color: var(--blue-grey-200);

    --button-hover-back-color: var(--blue-grey-700);
    --button-hover-fore-color: var(--blue-grey-100);
    --button-hover-shadow: 2px 4px 10px hsla(200 18% 26% / 0.5);

    --button-focus-outline-width: 4px;
    --button-focus-outline-color: var(--blue-grey-500);

    --button-active-back-color: var(--blue-grey-600);
    --button-active-fore-color: var(--blue-grey-50);

    background-color: var(--button-back-color);
    color: var(--button-fore-color);
    border: none;
    border-radius: var(--border-radius-md);
    padding: 0.375em 1.5rem;
    min-height: 2rem;
    box-shadow: var(--shadow-regular);
    position: relative;
    transition: 180ms all ease-in-out;

    &:hover {
      background-color: var(--button-hover-back-color);
      color: var(--button-hover-fore-color);
      box-shadow: var(--button-hover-shadow);
    }

    &:focus-visible {
      outline-style: solid;
      outline-color: transparent;
      box-shadow: 0 0 0 var(--button-focus-outline-width)
        var(--button-focus-outline-color);
    }

    &:active {
      background-color: var(--button-active-back-color);
      color: var(--button-active-fore-color);
      box-shadow: none;
      transform: translateY(1px);
    }
  }

  .input-floating-label {
    position: absolute;
    background-color: var(--color-ui-background);
    font-size: var(--font-size-sm);
    left: 1rem;
    top: -0.5rem;
    padding-left: var(--border-radius-md);
    padding-right: var(--border-radius-md);
  }

  .input-group {
    position: relative;
    margin-block: var(--gap-large);
    margin-inline: var(--gap-md);

    & .text-field {
      width: 100%;
      background-color: var(--color-ui-background);
      border: 1px solid var(--color-foreground);
      border-radius: var(--border-radius-md);
      padding: 0.5rem 0.5rem;
      height: 3rem;
    }

    &[data-ig-type="color"] {
      display: flex;
      gap: var(--gap-md);
    }

    &[data-ig-type="color"] .text-field {
      flex-grow: 1;
    }

    &[data-ig-type="color"] input[type="color"] {
      height: 3rem;
      min-width: 3rem;
    }

    & input[type="color"] {
      height: 2rem;
    }

    & select {
      width: 100%;
      background-color: var(--color-ui-background);
      border: 1px solid var(--color-foreground);
      border-radius: var(--border-radius-md);
      padding: 0.5rem 0.5rem 0.5rem 0.3rem;
      height: 3rem;
    }
  }

  .qr-download-btn-group {
    display: flex;
    flex-direction: row-reverse;
  }

  .qr-creator {
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-regular);
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  .qr-output-wrapper {
    flex-grow: 1;
    padding: var(--padding-md);
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
    @media (max-width: 600px) {
      border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
    }
  }

  .qr-output {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 256px;
  }
}

@layer utilities {
  .hidden {
    visibility: hidden;
  }
}
